<p>Welcome <%= @email %>!</p>

<p>You can confirm your account email through the link below:</p>

<p>
  <%= 
    link_to(
      'Confirm my account',
      v1_users_confirmations_url(
        confirmation_token: @token,
        auth_resource: @resource.class.name
      )
    )
  %>
</p>
